#hero{
    width: 100vw;
    height: 100vh;
    background:#000000;
}

#backVids{
    display: flex;
    width: 100vw;
    height: 92vh;
    position: absolute;
    inset: 0;
    margin: auto;
    justify-content: center;
    gap: 2vw;
}

.vids{
    height: 92vh !important;

}